#user
  %h2
    = "Create New User"

  = simple_form_for @user, :url => create_user_path, :html => { :class => 'form-horizontal' }, :defaults => { :input_html => { :class => 'span4' } } do |f|
    = render 'form', :f => f