#course
  %h3
    List of Classes

  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          Name
        %th

    - @courses.each do |x|
      %tr
        %td
          = x.name
        %td
          = link_to 'Edit', edit_course_path(x), :class => 'btn'
          &nbsp;
          = link_to '<i class="icon-trash icon-white"></i> Delete'.html_safe, course_path(x), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger'

  %p
    = link_to 'Create New Class', new_course_path