#temple
  %h3
    List of Temples

  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          Name
        %th

    - @temples.each do |x|
      %tr
        %td
          = x.name
        %td
          = link_to 'Edit', edit_temple_path(x), :class => 'btn'
          &nbsp;
          = link_to '<i class="icon-trash icon-white"></i> Delete'.html_safe, temple_path(x), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger'

  %p
    = link_to 'Create New Temple', new_temple_path